<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byteDance.GrayRelease.infrastructure.mapper.RuleMapper">
    <resultMap id="RuleMap" type="com.byteDance.GrayRelease.infrastructure.pojo.RuleDO">
        <id column="id" property="id"/>
        <result column="aid" property="aid"/>
        <result column="platform" property="platform"/>
        <result column="download_url" property="download_url"/>
        <result column="update_version_code" property="update_version_code"/>
        <result column="md5" property="md5"/>
        <result column="device_id_list" property="device_id_list"/>
        <result column="max_update_version_code" property="max_update_version_code"/>
        <result column="min_update_version_code" property="min_update_version_code"/>
        <result column="max_os_api" property="max_os_api"/>
        <result column="min_os_api" property="min_os_api"/>
        <result column="cpu_arch" property="cpu_arch"/>
        <result column="channel" property="channel"/>
        <result column="title" property="title"/>
        <result column="update_tips" property="update_tips"/>
        <result column="env" property="env"/>
    </resultMap>
    <select id="selectList" parameterType="com.byteDance.GrayRelease.infrastructure.pojo.Req" resultMap="RuleMap">
        select * from rule r where r.platform = #{device_platform} and r.channel = #{channel}
        and r.cpu_arch = #{cpu_arch} and r.aid = #{aid}
    </select>

    <insert id="insertRule" parameterType="com.byteDance.GrayRelease.infrastructure.pojo.RuleDO">
        insert into rule
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="aid != null">
                aid,
            </if>
            <if test="platform != null and platform != ''">
                platform,
            </if>
            <if test="download_url != null and download_url != ''">
                download_url,
            </if>
            <if test="update_version_code != null and update_version_code != ''">
                update_version_code,
            </if>
            <if test="md5 != null and md5 != ''">
                md5,
            </if>
            <if test="device_id_list != null and device_id_list != ''">
                device_id_list,
            </if>
            <if test="max_update_version_code != null and max_update_version_code != ''">
                max_update_version_code,
            </if>
            <if test="min_update_version_code != null and min_update_version_code != ''">
                min_update_version_code,
            </if>
            <if test="max_os_api != null">
                max_os_api,
            </if>
            <if test="min_os_api != null">
                min_os_api,
            </if>
            <if test="cpu_arch != null and cpu_arch != ''">
                cpu_arch,
            </if>
            <if test="channel != null and channel != ''">
                channel,
            </if>
            <if test="title != null and title != ''">
                title,
            </if>
            <if test="update_tips != null and update_tips != ''">
                update_tips,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="aid != null">
                #{aid},
            </if>
            <if test="platform != null and platform != ''">
                #{platform},
            </if>
            <if test="download_url != null and download_url != ''">
                #{download_url},
            </if>
            <if test="update_version_code != null and update_version_code != ''">
                #{update_version_code},
            </if>
            <if test="md5 != null and md5 != ''">
                #{md5},
            </if>
            <if test="device_id_list != null and device_id_list != ''">
                #{device_id_list},
            </if>
            <if test="max_update_version_code != null and max_update_version_code != ''">
                #{max_update_version_code},
            </if>
            <if test="min_update_version_code != null and min_update_version_code != ''">
                #{min_update_version_code},
            </if>
            <if test="max_os_api != null">
                #{max_os_api},
            </if>
            <if test="min_os_api != null">
                #{min_os_api},
            </if>
            <if test="cpu_arch != null and cpu_arch != ''">
                #{cpu_arch},
            </if>
            <if test="channel != null and channel != ''">
                #{channel},
            </if>
            <if test="title != null and title != ''">
                #{title},
            </if>
            <if test="update_tips != null and update_tips != ''">
                #{update_tips},
            </if>
        </trim>
    </insert>
    
    
    <update id="updateEnv">
        update rule r set r.env = #{env} where id = #{id}
    </update>
</mapper>